.venv/
.ipynb_checkpoints/
__pycache__/
logs/*
wandb/*
sbatch/run_bigp_*.sbatch
data/test_100_shard0.json
data/test_100_shard1.json
data/test_100_shard2.json
data/test_100_shard3.json
data/test_100_shard4.json
data/test_100_shard5.json
data/test_100_shard6.json
data/test_100_shard7.json
data/test_100_shard8.json
data/test_100_shard9.json
data/test_5.json
outputs/Qwen7b-Instruct-full-test.raw.json
outputs/Qwen7b-Instruct-test_100.json
src/evaluate.py